<div class="grid grid-rows-3 mt-0 p-5 auto-cols-auto">
    <div class="flex row-span-full h-10 mb-4">
        <div class="bg-black w-2 ">

        </div>
        <div class="bg-slate-400 flex-1">
            
            <h1 class="text-2xl">Basic Information</h1>
        </div>
    </div>

    <div class="mt-0 ">
        <form action="">
            <div class="grid grid-cols-3 gap-10">

                <div class="grid grid-rows-2 gap-5">
                    <label for="operation"> Operation</label>
        
                    <select class="border-2" name="operation" id="">
                        <option value="operation1">operation1</option>
                        <option value="operation2">operation2</option>
                        <option value="operation3">operation3</option>
        
                    </select>
    
                </div>
    
                <div class="grid grid-rows-2 gap-5">
    
                    <label for="payment">
                       Payment Method
                    </label>
        
                    <select class="border-2" name="payment" id="">
                        <option value="payment1">payment1</option>
                        <option value="payment2">payment2</option>
                        <option value="payment3">payment3</option>
        
                    </select>
                </div>
    
                <div class="grid grid-rows-2 gap-5">
    
                    <label for="Type">
                       Type
                    </label>
                    <select class="border-2" name="Type" id="">
                        <option value="Type1">Type1</option>
                        <option value="Type2">Type2</option>
                        <option value="Type3">Type3</option>
        
                    </select>
                </div>
    
                <div class="grid grid-rows-2 gap-5">
    
                    <label for="shipping">
                        Shipping Agent
                    </label>
                    <select class="border-2" name="shipping" id="">
                        <option value="shipping1">shipping1</option>
                        <option value="shipping2">shipping2</option>
                        <option value="shipping3">shipping3</option>
        
                    </select>
                </div>
    
                <div class="grid grid-rows-2 gap-5">
    
                    <label for="Currency">
                        Currency 
                    </label>
                    <select class="border-2" name="Currency" id="">
                        <option value="Currency1">Currency1</option>
                        <option value="Currency2">Currency2</option>
                        <option value="Currency3">Currency3</option>
        
                    </select>
                </div>
    
                <div class="grid grid-rows-2 gap-5">
    
                    <label for="date">Payment Date</label>
                     <input class="border-2" name="date" type="date">
                </div>
    
                <div class="grid grid-rows-2 gap-5">
    
                    <label for="Description">Description</label>
                    <input class="border-2" name="Description" type="text">
                </div>
    
                <div class="grid grid-rows-2 gap-5">
    
                    <label for="bank">Bank Code</label>
                    <input class="border-2" type="number" name="bank">
    
                </div>

                <div class="grid grid-rows-2 gap-5">
    
                    <label for="amount">Amount</label>
                    <input class="border-2" type="number" name="amount">
    
                </div>

            </div>
            
    
        </form>
    </div>
    <div class=" w-full justify-items-center  mt-5">
        <button class="bg-blue-700 text-white mr-20 w-1/12 rounded-md h-11">
           submit
        </button>

        <button class="bg-red-700 text-white  w-1/12 ml-10 rounded-md h-11">
            cancel
        </button>

    </div>
</div>
