<main class="flex flex-col p-8 bg-gray-100 gap-y-5">
  <div class="w-fit flex flex-col justify-center">
  <div class="">
    <h1 class="font-medium my-3 text-4xl">Shiping Agent Payment</h1>
    <input
      type="text"
      placeholder="Print options "
      class="my-3 font-semibold p-2 rounded-l-md"
    />
    <button class="bg-white p-2 rounded-r-md mr-3">
      <i class="fa fa-caret-down"></i>
    </button>
    <button class="bg-white p-2 rounded-lg w-32 mr-3 my-3">
      <h3 class=""><i class="fa fa-print"></i> Print report</h3>
    </button>
  </div>
  <div class="flex justify-between p-3">
    <div class="float-left">
      <button class="filebtn" (click)="addBtn()"><i class="fa fa-plus"></i> Add</button>
      <button class="filebtn"><i class="fa fa-print"></i> Print</button>
      <button class="filebtn">
        <i class="fas fa-file-excel"></i> Export Excell
      </button>
    </div>
    <div class="float-right">
      <input type="text" placeholder="search" class="p-2 rounded-l-md" />
      <button class="bg-white p-2 rounded-r-md mr-3">
        <i class="fa fa-search"></i>
      </button>
      <input
        type="text"
        placeholder="column chooser"
        class="p-2 rounded-l-md"
      />
      <button class="bg-white p-2 rounded-r-md">
        <i class="fa fa-caret-down"></i>
      </button>
    </div>
  </div>
  <div class="bg-white " >
    <table class="w-fit">
      <tr>
        <th>Operation ID <i class="fa fa-filter"></i></th>
        <th>Type <i class="fa fa-filter"></i></th>
        <th>Method <i class="fa fa-filter"></i></th>
        <th>Date <i class="fa fa-filter"></i></th>
        <th>Shiping Agent <i class="fa fa-filter"></i></th>
        <th>Amount <i class="fa fa-filter"></i></th>
        <th>Actions</th>
      </tr>
      <tr class="w-32" *ngFor="let p of ports let i = index">
        <td>
          <input type="text" value="{{ p.id }}" [(ngModel)]="p.id">
        </td>
        <td>
          <input type="text" value="{{ p.type }}" [(ngModel)]="p.type">
        </td>
        <td>
          <input type="text" value=" {{ p.method }}" [(ngModel)]="p.method">
        </td>
        <td>
          <input type="date" value="p.date | date : 'M/d/yy'" [(ngModel)]="p.date">
        </td>
        <td>
          <input type="text" value="{{ p.shipingAgent }}" [(ngModel)]="p.shipingAgent">
        </td>
        <td>
          <input type="text" value="{{ p.amount }}" [(ngModel)]="p.amount">
        </td>
        <td>
          <div class="actions">
            <a href="#"><i class="fas fa-pen" (click)="editBtn(i)"  ></i></a>
            <a href="#"><i class="fas fa-trash" (click)="deleteBtn(i)"></i></a>
            <a href="#"><i class="fas fa-eye"></i></a>
          </div>
        </td>
      </tr>
    </table>
    <hr class="m-5 border-2 border-gray-300" />
    <footer class="mx-5 bg-white flex justify-between">
      <div class="pagination mb-4 flex justify-around">
        <button class="btn rounded-l-md">
          <i class="fa fa-angle-double-left"></i>
        </button>
        <button class="btn"><i class="fa fa-angle-left"></i></button>
        <p class="bg-gray-300 flex pt-2 px-3 font-medium">1</p>
        <button class="btn"><i class="fa fa-angle-right"></i></button>
        <button class="btn rounded-r-md mr-3">
          <i class="fa fa-angle-double-right"></i>
        </button>
        <input
          type="text"
          placeholder="200"
          class="w-12 bg-gray-100 p-2 rounded-l-md"
        />
        <button class="bg-gray-100 p-2 rounded-r-md mr-3">
          <i class="fa fa-search"></i>
        </button>
        <p class="pt-2 font-medium">{{ports.length}} Items per Page</p>
      </div>
      <div class="mb-4 pt-2">
        <p>1 of 1 pages (6 items)</p>
      </div>
    </footer>
    </div>
  </div>
</main>
