<div class="grid grid-rows-2 bg-slate-300 p-10 gap-8  mr-5" [ngClass]="{'ml-52' : ! this.toggle.open , 'ml-5' : this.toggle.open}">
    <h1 class="text-lg">Shipping Agent Payment </h1>
    <div class="grid grid-cols-2 gap-8">
        <div class="w-24">
            <select class="w-60 bg-white">
                <option value="option1">option1</option>
                <option value="option2">option2</option>
                <option value="option3">option3</option>
                <option value="option4">option4</option>
    
            </select>

        </div>
        <div class="mb-0">
            <button class="bg-white hover:bg-blue-300 text-black font-bold py-2 px-4 rounded">
                <i class="fas fa-print mr-2"></i>Print Report
              </button>
              
        </div>
    </div>

</div>
