<nav class="bg-white p-1.5" [ngClass]="{'pl-56' :  ! this.togleservice.open}">
      <div class="flex items-center justify-between h-16">
          <div class="flex flex-row gap-x-4 justify-center">
           <button class="right-1.5" (click)="togglesidebar()">

             <i class="fa-solid fa-list py-4"></i>
           </button>
            
            <div class="relative">
             <input type="text" placeholder="Search" class="bg-gray-100 border-2 border-gray-300 rounded-md py-2 px-4 pl-10 block w-full appearance-none leading-normal focus:outline-none focus:bg-white focus:border-gray-400">
             <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
               <i class="fas fa-search text-gray-400"></i>
             </div>
           </div>
          </div>
          
            <div class="flex flex-row justify-between gap-x-4">
              <div>
                <img src="./Avater.jpeg" alt="avatar" class="rounded-full h-12 w-12">
              </div>
              <div><i class="fa-regular fa-bell"></i></div>
              <div>
                <select name="" id="">
                   <option value="">Admin</option>
                   <option value="">User</option>
                   <option value="">Gust</option>
                </select>
              </div>

              <div>
                <i class="fa-light fa-messages"></i>
              </div>
            </div>
          </div>
        
  
  
  </nav>

  
