<nav class="bg-white flex justify-between h-16 p-4">
  <ul class="flex gap-x-4 p-4">
    <li>
      <button class="right-1.5" (click)="togglesidebar()">
        <div class="bg-gray-500 my-1 h-1 w-7"></div>
        <div class="bg-gray-500 my-1 h-1 w-7"></div>
        <div class="bg-gray-500 my-1 h-1 w-7"></div>
      </button>
    </li>
    <li>
      <input
        type="text"
        placeholder="search"
        class="bg-gray-100 p-2 rounded-l-md"
      />
      <button class="bg-gray-100 p-2 rounded-r-md mr-3">
        <i class="fa fa-search text-gray-600"></i>
      </button>
    </li>
  </ul>

  <ul class="flex gap-x-4 ">
    <li>
      <img
        src="https://picsum.photos/200/301"
        class="rounded-full h-14 w-14"
        alt=""
      />
    </li>
    <li>
      <button class="bg-gray-100 p-2 rounded-md text-gray-400 font-semibold">admin    <i class="fa fa-caret-down"></i></button>
    </li>
    <li>
      <i class="far fa-bell text-3xl text-gray-400"></i>
    </li>
    <li>
      <i class="fa fa-envelope text-3xl text-gray-400"></i>
    </li>
    <li>
      <button class="border-2 w-20 pl-1 text-left rounded-md text-gray-900 font-normal">amh    <i class="fa fa-caret-down"></i></button>
    </li>
  </ul>
</nav>
